<div class="tasks">
  <h2>Tasks</h2>
  <div class="tasks--container">
    <div *ngFor="let task of tasks">
      <app-task-item *ngIf="!task.finished" [task]="task"></app-task-item>
    </div>
    <p *ngIf="noMoreTasksUnfinished()">No more tasks, great job!</p>
  </div>

  <a class="task--button-add">Add Task</a>

  <h3>Completed</h3>
  <div class="tasks--container tasks--container-completed">
   <div *ngFor="let task of tasks" >
     <app-task-item *ngIf="task.finished" [task]="task"></app-task-item>
   </div>
    <p *ngIf="noTasksCompleted()">Go complete some tasks!</p>
  </div>
</div>
